nav {
	text-align: center;
}
body {
	font-family: helvetica, arial, sans-serif;
	line-height: 20px;
}
h4 {
	color: rgba(246, 88, 65, 1);
}
#name {
	color: rgba(246, 88, 65, 1);
}
#profile {

}
.bold {
	font-weight: bold;
}
.hover {
	color: rgba(0 0 0 .5);
}
.hover: hover {
	color: rgba(0 0 0 1);
}
footer {
	font-size: 10px;
}
ul {
	list-style: none;
	padding: 0px 10px 0px 0px;
}


